body {
  width: 100%;
  overflow-x: hidden;
  background: #eee;
}

span.swiper-pagination-bullet.swiper-pagination-bullet-active {
  background: #fff;
}

::-webkit-scrollbar {
  width: 4px;
  height: 2px;
  background-color: #fff;
}

::-webkit-scrollbar-thumb {
  background-color: rgba(108, 110, 111, 0.8);
}

::-webkit-scrollbar-thumb:hover {
  background-color: rgba(108, 110, 111, 1);
}

.detail .main img {
  display: block;
  margin: 0 auto;
  max-width: 100%;
  max-height: 16em;
}
